.navigationBarWrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    background-color: darkgrey;
    padding: 1%;
}

.signIn {
    cursor: pointer;
    grid-column: 8/11;
    justify-self: center;
    align-self: center;
    background-color: limegreen;
}