.navigationBarWrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    background-color: darkgrey;
    padding: 2%;
}

.signIn {
    cursor: pointer;
    grid-column: 9/11;
    justify-self: center;
    align-self: center;
}